[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bsplinePsd"]
	path = bsplinePsd
	url = https://github.com/mcthedwards/bsplinepsd
